AI-Powered Fresher & Internship Job Alert System.json
{
  "name": "AI-Powered Fresher & Internship Job Alert System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        -416
      ],
      "id": "70d495fa-f4ba-40a4-9a89-0bdaf08085d8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        -32
      ],
      "id": "165985eb-303f-4bb3-afeb-cc93547926d9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -224
      ],
      "id": "1a12c33c-dc78-4dfd-84e1-c9c90f0bb1f6",
      "name": "Hourly Job Fetch Trigger"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "fresher jobs in India"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "fea7dbd146msh67146f1fa6ba6abp198cd9jsn0750152f6a06"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        -224
      ],
      "id": "f2749b69-b936-44e0-9178-fd7f0fa137b3",
      "name": "Fetch Jobs from JSearch API"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -128,
        -224
      ],
      "id": "582d2c32-f969-42cd-826e-bd85fd60e682",
      "name": "Split Job Records"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d64341a-e834-4186-9877-6d8133be3577",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "6138c952-5373-4b63-af22-5bd2d54cda98",
              "name": "title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "546f8fca-d436-4225-9309-20853e1607b8",
              "name": "company",
              "value": "={{ $json.job_publisher }}",
              "type": "string"
            },
            {
              "id": "2581c16e-6b39-47a2-99b3-8e8200883937",
              "name": "location",
              "value": "={{ $json.job_location }}",
              "type": "string"
            },
            {
              "id": "24f65628-f0c7-41d5-8c3b-9b868cd0a079",
              "name": "apply_link",
              "value": "={{ $json.job_apply_link }}",
              "type": "string"
            },
            {
              "id": "afd5bb26-777d-4c32-add4-6802eeb2a190",
              "name": "posted_at",
              "value": "={{ $json.job_posted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -224
      ],
      "id": "679baacd-0e75-4520-958b-a23898147a20",
      "name": "Transform Job Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bRxfhfN09O6liJ1epReaktVtOIaSyDMSFMB2Nb9bCi8",
          "mode": "list",
          "cachedResultName": "Raw Jobs Finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRxfhfN09O6liJ1epReaktVtOIaSyDMSFMB2Nb9bCi8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRxfhfN09O6liJ1epReaktVtOIaSyDMSFMB2Nb9bCi8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "apply_link": "={{ $json.apply_link }}",
            "posted_at": "={{ $json.posted_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -128
      ],
      "id": "ddcbee2f-4db8-4f8d-998e-fcb09cb09f14",
      "name": "Store All Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g8anwdgdh1hCChuN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a84e604-9676-4633-bdf5-a4da096db1d2",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Senior",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "89814b56-f0cb-43b0-b8ef-430ac117703a",
              "leftValue": "={{ $json.location }}",
              "rightValue": "india",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e3a3e204-162a-42a5-9327-e58c2d13d470",
              "leftValue": "={{ $json.title }}",
              "rightValue": "1+ years ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ae7d1961-4dca-42a3-b322-82261501b743",
              "leftValue": "={{ $json.title }}",
              "rightValue": " Lead",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "0ffa4909-423e-452d-947b-0ff766d67b68",
              "leftValue": "={{ $json.title }}",
              "rightValue": "=Manager",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        -320
      ],
      "id": "0e5d8ef1-a310-4b7a-b7e9-573abe8fa9c2",
      "name": "Filter Senior Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c3a8fd1-a11a-4217-80ff-be491a208cda",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Internships",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "45dc195f-fafc-4a52-b797-edd83312226b",
              "leftValue": "={{ $json.title }}",
              "rightValue": "trainee",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "06474c9a-4e94-41fd-af5b-b1223a9dccc6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "graduate trainee",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -512
      ],
      "id": "eac8c747-e118-4124-af22-e83f6c6dd20f",
      "name": "Detect Internship Jobs"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        768,
        -608
      ],
      "id": "74a1e1d1-b558-4314-b3e6-80095840dc02",
      "name": "Remove Duplicate Internships"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68",
          "mode": "list",
          "cachedResultName": "fresher jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "apply_link": "={{ $json.apply_link }}",
            "posted_at": "={{ $json.posted_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -608
      ],
      "id": "3a42728b-0df8-4311-8822-85d515215688",
      "name": "Store Internship Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g8anwdgdh1hCChuN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5074316284",
        "text": "=New Fresher Job 🚀\n\nTitle: {{ $json.title }}\n\nCompany: {{ $json.company }}\n\nLocation: {{ $json.location }}\n\nApply Here:\n{{ $json.apply_link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -608
      ],
      "id": "c518c2fe-0bbc-4a3b-91b5-f835a917af06",
      "name": "Notify Internship Jobs",
      "webhookId": "cb789eb4-a0f4-4131-911b-0f21763016ef",
      "credentials": {
        "telegramApi": {
          "id": "weSYRcZ1GrIer4u8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c3a8fd1-a11a-4217-80ff-be491a208cda",
              "leftValue": "={{ $json.title }}",
              "rightValue": "fresher",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e21d7120-9180-4799-81fe-a89faf4f08dd",
              "leftValue": "={{ $json.title }}",
              "rightValue": "graduate",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "45dc195f-fafc-4a52-b797-edd83312226b",
              "leftValue": "={{ $json.title }}",
              "rightValue": "entry level",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -128
      ],
      "id": "e819552a-2d87-49a0-b965-328cddee6947",
      "name": "Detect Fresher Jobs"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        768,
        -224
      ],
      "id": "390516bb-71a9-434f-a171-e145159356d7",
      "name": "Remove Duplicate Fresher Jobs"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68",
          "mode": "list",
          "cachedResultName": "fresher jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGlOpYtRPLAyHPGFxsXSrui69MukIlb0jiZTDsksT68/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "apply_link": "={{ $json.apply_link }}",
            "posted_at": "={{ $json.posted_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -224
      ],
      "id": "1286f77e-38d5-4184-9315-b23dca24cc7a",
      "name": "Store Fresher Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g8anwdgdh1hCChuN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5074316284",
        "text": "=New Fresher Job 🚀\n\nTitle: {{ $json.title }}\n\nCompany: {{ $json.company }}\n\nLocation: {{ $json.location }}\n\nApply Here:\n{{ $json.apply_link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -224
      ],
      "id": "2072a791-3316-4420-abd8-6c0cc820128b",
      "name": "Notify Fresher Jobs",
      "webhookId": "cb789eb4-a0f4-4131-911b-0f21763016ef",
      "credentials": {
        "telegramApi": {
          "id": "weSYRcZ1GrIer4u8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Hourly Job Fetch Trigger": {
      "main": [
        [
          {
            "node": "Fetch Jobs from JSearch API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from JSearch API": {
      "main": [
        [
          {
            "node": "Split Job Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Job Records": {
      "main": [
        [
          {
            "node": "Transform Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Job Data": {
      "main": [
        [
          {
            "node": "Filter Senior Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store All Jobs": {
      "main": [
        []
      ]
    },
    "Filter Senior Jobs": {
      "main": [
        [
          {
            "node": "Detect Internship Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Fresher Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Internship Jobs": {
      "main": [
        [
          {
            "node": "Remove Duplicate Internships",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Internships": {
      "main": [
        [
          {
            "node": "Store Internship Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Internship Jobs": {
      "main": [
        [
          {
            "node": "Notify Internship Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Fresher Jobs": {
      "main": [
        [
          {
            "node": "Remove Duplicate Fresher Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Fresher Jobs": {
      "main": [
        [
          {
            "node": "Store Fresher Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Fresher Jobs": {
      "main": [
        [
          {
            "node": "Notify Fresher Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c796c57f-c7d2-41eb-9c7b-3a6144026ed5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5403d3ae3c28dadb45fb13c8c4312cd9025d76182a5f80bf0fa73454dc7f218"
  },
  "id": "HjKSJVL3EoNyELDK",
  "tags": []
}